@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Express Voitures</h1>
    <p class="lead">Gestion du stock de voitures d'occasion.</p>
    <a asp-controller="Voitures" asp-action="Index" class="btn btn-primary btn-lg">Voir l'inventaire</a>
</div>